/********************************************************
 * Functioalities for a form with validation
 * 
 * @author (Anyanwu Benedict Chuwkwuemeka)
 * @version 0.01
 ********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--bcg-eb5b07) var(--bcg-trpnt);
}

html
{
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html:root
{
    --warn-clr: #b20202;
    --color0:#000;
    --color1:#eb5b07;
    --color2:#fff;
    --color3:#212121a2;
    --color4:#18181f;
    --color5:#656565be;
    --color6:#d3d3d3;
    --color7:#c907eb;
    --color8:#c907eb;
    --color9:#c907eb;
    --fzTxt: 12px;
    --fzIcon: 20px;
    --bcgFilt: 15px;
}

body
{
    font-family: 'Poppins', sans-serif;
    min-height: 100svh;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color0);
}

@supports(-webkit-tap-highlight-color: var(--bcg-trpnt))
{
    body
    {
        -webkit-tap-highlight-color: var(--bcg-trpnt);
    }
}

button, input
{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bcg-trpnt);
    outline: none;
    border: none;
}

button:active
{
    scale: 0.975;
}

a{
    position: relative;
    text-decoration: none;
    font-size: var(--fzTxt);
    transition: 300ms;
}

a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: 150ms;
}

a:hover::after
{
    right: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
}

p
{
    color: var(--color2);
    font-size: var(--fzTxt);
}

i
{
    font-size: var(--fzIcon);
    transition: 150ms;
}

.genBtn
{
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    min-width: 200px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    font-size: var(--fzTxt);
    text-align: center;
    padding: 16px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--color1);
    transition: 300ms;
    cursor: pointer;
}

.genBtn:active
{
    transform: scale(0.975);
}

.genBtn:hover
{
    box-shadow: 0 0 20px var(--color1);
}

.genIconBox
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
}

.genIconBox:active
{
    transform: scale(0.9);
}

.genIconBox .genIcon
{
    color: var(--color2);
    font-size: calc(var(--fzIcon) + 1px);
}

.vercode_bdr
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 64px 8px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden auto;
    transition: 500ms;
    z-index: 10000000;
}

.vercode_bdr.active
{
    opacity: 1;
    visibility: visible;
}

.ver_loader
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    -webkit-backdrop-filter: blur(var(--bcgFilt));
    backdrop-filter: blur(var(--bcgFilt));
    background-color: var(--color4);
    z-index: 9;
}

.ver_loader.active
{
    display: flex;
}

.ver_loader .vl_1
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-left: 4px solid var(--color1);
    border-top: 4px solid var(--color1);
    border-bottom: 0px solid var(--color1);
    border-right: 0px solid transparent;
    animation: vl_spin1 1500ms linear infinite;
}


@keyframes vl_spin1
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.ver_loader .vl_2
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-left: 3px solid var(--color1);
    border-top: 3px solid var(--color1);
    border-bottom: 0px solid var(--color1);
    border-right: 0px solid transparent;
    animation: vl_spin2 700ms linear infinite;
}

@keyframes vl_spin2
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}

.ver_loader .vl_note
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    text-transform: uppercase;
}

.ver_loader .vl_note #loader_ctnt
{
    color: var(--color1);
    font-size: 18px;
}

.ver_loader .vl_note #vl_note_loader .fa-circle
{
    font-size: 9px;
    color: var(--color1);
    animation: note_spin 1000ms linear infinite;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes note_spin
{
    0%
    {
        opacity: 1;
        visibility: visible;
    }
    100%
    {
        opacity: 0;
        visibility: hidden;
    }
}

.close_verification_box
{
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% calc((-100% - 25px));
}

.vercode_bdr .genIconBox
{
    background-color: var(--color1);
    z-index: 3;
}

.vercode_bdr .genIconBox .genIcon
{
    color: var(--color2);
}

.vercode_bcg
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #66666666;
    backdrop-filter: blur(25px);
    z-index: 2;
}

.vercode_box
{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color4);
    border-radius: 25px;
    z-index: 3;
}

.email_verForm
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.email_verForm input
{
    display: none;
    border: none;
    outline: none;
}

.email_verForm .join_content .join_content_input input.active
{
    display: flex;
}

.email_verForm .ver_req_box input
{
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    min-width: 150px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    font-size: var(--fzTxt);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--color1);
    transition: 300ms;
    cursor: pointer;
}

.email_verForm .ver_req_box input:active
{
    transform: scale(0.9);
}

.email_verForm .ver_req_box input:hover
{
    box-shadow: 0 0 20px var(--color1);
}

.email_verForm .ver_req_box input.hideBtn
{
    display: none;
}

.email_verForm .ask_for_ver
{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email_verForm .ask_for_ver h4
{
    position: relative;
    font-size: 20px;
    color: #fff;
}

.email_verForm .ask_for_ver h4::after
{
    content: '';
    right: 20%;
    bottom: -5px;
    position: absolute;
    width: 60%;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color1);
}

.email_verForm .ask_for_ver p
{
    font-size: 12px;
    color: #edebeb;
}

.email_verForm .typeincode
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.email_verForm .typeincode.active
{
    opacity: 1;
    visibility: visible;
    transition: 300ms;
}

.email_verForm .typeincode p #time_countdown
{
    color: var(--color1);
    font-size: calc(var(--fzTxt) + 2px);
    text-align: center;
    font-weight: 500;
}

.email_verForm .typeincode p
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: var(--fzTxt);
}

.typeincode .input_verCode_num
{
    width: 100%;
    height: 40px;
}

.input_verCode_num #input_verCode
{
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: calc(var(--fzTxt) + 1px);
    color: var(--color6);
    outline: none;
    border: none;
    border-bottom: 2.5px solid var(--color5);
    background-color: transparent;
    transition: 300ms;
}

#input_verCode:focus
{
    background-color: transparent;
    border-bottom-color: var(--color1);
}

#input_verCode::placeholder
{
    color: var(--color5);
}


.email_verForm .form_provider
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 10px 0;
}

.email_verForm .form_provider a
{
    position: relative;
    font-size: 10px;
    color: var(--color6);
}

.email_verForm .form_provider a::after
{
    height: 1px;
    background-color: var(--color1);
}


